.ingredientDetails {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .image {
    width: 480px;
    height: 240px;
  }
  
  .elementsList {
    padding: 0;
    margin: 0;
    display: flex;
    list-style-type: none;
    gap: 20px;
  }
  
  .elementDetail {
    width: 112px;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }