.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.image {
  width: 480px;
  height: 240px;
}
  
.list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}