.BurgerIngredients {
    width: 600px;
    max-height: 912px;
    background: #131316;
    margin: 40px 0 0 355px;
}

.Section {
    max-height: 580px;
    overflow-y: scroll;
}

.Section::-webkit-scrollbar {
    width: 8px;
    background-color: #2F2F37;
}

.Section::-webkit-scrollbar-thumb {
    background-color: #8585AD;
}

.Title {
    font-family: 'JetBrains Mono', monospace ;
    font-size: 36px;
    font-style: bold;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
    margin: 40px 0 20px;
    color: #F2F2F3;
}
.SubTitle {
    font-family: 'JetBrains Mono', monospace ;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left; 
    margin: 40px 0 24px;
    color: #F2F2F3;
}

.Price {
    display: flex;
    align-items: center;
    color: #F2F2F3;
    margin-left: 121px;
    margin: 0 auto;
}

.PriceCoin {
    margin: 8px;
    font-family: 'Iceland';
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
}

.Container {
    display: flex;
    margin-top: 32px;
}

.Block {
    width: 272px;
    height: 208px;
    display: flex;
    flex-direction: column;
    margin: auto;
    position: relative;
}

.Name {
    margin: 0 auto;
    font-family: 'JetBrains Mono', monospace;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
}


