.AppHeader {
    background: #1C1C21;
    width: 100%;
  }
  
  .nav {
    max-width: 1240px;
    margin: auto;
  }
  
  .menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
  
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; 
    gap: 0px; 
    grid-template-areas: "constructor lenta logo logo . profile"; 
  }
  
  .item {
    display: flex;
  }
  
  .logo {
    margin: 0;
    grid-area: logo;
    text-align: center;
    align-self: center;
  }
  
  .constructor {
    grid-area: constructor;
  }
  
  .lenta {
    grid-area: lenta;
  }
  
  .profile {
    grid-area: profile;
  }
